extends layout
block primary
  if currentUser
    h1=title
    for job in jobs
      div(class="card" style="padding: 10px")
          h4(class = "card-title") #{job.title}
          div(class="card-body")
            p #{job.restaurant}
            p Zip: #{job.location}
            if job.average != 'unknown'
              p Based on our records, the average pay in this zip code is $#{job.average}
            a(class="btn btn-primary" href=job.url) Description and Apply
  else
    a(href='/auth/login') Login 
    a(href='auth/signup') Sign Up