extends layout

block content
  if currentUser  
    h1 Pay id: #{pay.id}

    div(style='margin-left:20px;margin-top:20px')

      p  Hourly :  #{pay.hourly_pay}
      p  Weekly Tips: #{pay.weekly_tips}
      p  Weekly Hours: #{pay.weekly_hours}
      p  Restaurant: #{pay.restaurant}
      p  User: #{pay.user}
      
    hr
    p
      a(href=pay.url+'/delete') Delete pay
    p
      a(href=pay.url+'/update') Update pay
  else
    a(href='/auth/login') Login 
    a(href='auth/signup') Sign Up 