extends layout

block primary
  if currentUser  
    h1= title
    form(method='POST' action='')
      div(class="form-group w-50")
        label(for='user' class="form-label") User
        input#user( class="form-control" name='user' required='true' value=currentUser.id readonly)
        label(for='hourly_pay' class="form-label") Hourly:
        input#hourly_pay(class="form-control" type='number' name='hourly_pay' required='true' value=(undefined===pay ? '' : pay.hourly_pay) )
        label(for='weekly_tips' class="form-label") Weekly Tips:
        input#weekly_tips(class="form-control" type='number' name='weekly_tips' required='true' value=(undefined===pay ? '' : pay.weekly_tips) )
        label(for='weekly_hours') Weekly Hours:
        input#weekly_hours(class="form-control" type='number' name='weekly_hours' required='true' value=(undefined===pay ? '' : pay.weekly_hours) )
        label(for='restaurant' class="form-label") Restaurant:
        select#restaurant( class="form-select" type='select' name='restaurant' required='true' )
          - restaurants.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
          for restaurant in restaurants 
            if pay
              option(
                value=restaurant._id 
                selected=(
                  restaurant._id.toString()==pay.restaurant._id
                  || restaurant._id.toString()==pay.resturant 
                ) ? 'selected' : false 
              ) #{restaurant.name}
            else
              option(value=restaurant._id) #{restaurant.name}
      button( class="btn btn-primary" type='submit') Submit
    if errors
      ul
        for error in errors
          li!= error.msg