extends layout

block content
  if currentUser
    h1 Pay id: #{pay.id}

    div(style='margin-left:20px;margin-top:20px')

      p  Hourly :  #{pay.hourly_pay}
      p  Weekly Tips: #{pay.weekly_tips}
      p  Weekly Hours: #{pay.weekly_hours}
      p  Restaurant: #{pay.restaurant}
    hr
    p
      a(href=pay.url+'/delete') Delete pay
    p
      a(href=pay.url+'/update') Update pay
  else 
    h1 Log In
    a(href="/signup") SIGN UP
    form(action="/login" method="POST")
        div.form-group
            label(for='username') Username 
            input#username.form-control(type='text', placeholder='admin123' name='username' required='true')
            label(for='password') Password :
            input#password.form-control(type='password', name='password' required='true')
        div.form-group
        button.btn.btn-primary(type='submit') OK   