extends layout

block content
  if currentUser
    h1=title

    form(method='POST' action='')
      div.form-group
        label(for='zip_code') Zip:
        select#zip.form-control(type='select', placeholder='select zip' name='zip_code' required='true' )
          - zips.sort(function(a, b) {return (a < b) ? -1 : (a > b) ? 1 : 0;});
          for zip in zips 
            if restaurant
              option(
                value=zip
                selected=(
                 zip==restaurant.zip
                ) ? 'selected' : false 
              ) #{zip}
            else
              option(value=zip) #{zip}
      div.form-group
        label(for='name') Restaurant Name:
        input#name.form-control(type='text' placeholder='Restaurant Name' name='name' required='true' value=(undefined===restaurant  ? '' : restaurant.name))
      div.form-group
        label(for='entree_price') Entree Price (1-5):
        input#entree_price.form-control(type='number' name='entree_price' min=1 max=5 value=(undefined===restaurant  ? '' : restaurant.entree_price) )
      button.btn.btn-primary(type='submit') Submit
    if errors
      ul
        for error in errors
          li!= error.msg
  else
    a(href='/auth/login') Login 
    a(href='auth/signup') Sign Up