extends layout

block primary
  if currentUser
    h1=title

    form(method='POST' action='')
      div(class="form-group w-50")
        label(for='zip_code' class="form-label") Zip:
        select#zip(class="form-select" type='select' name='zip_code' required='true')
          for zip in zips 
            if restaurant
              option(
                value=zip
                selected=(
                  zip==restaurant.zip_code.toString()
                ) ? 'selected' : false 
              ) #{zip}
            else
              option(value=zip) #{zip}
        label(for='name' class="form-label") Restaurant Name:
        input#name.form( class="form-control" type='text'  name='name' required='true' value=(undefined===restaurant  ? '' : restaurant.name))
        label(for='entree_price' class="form-label") Entree Price (1-5):
        input#entree_price( class="form-control" type='number' name='entree_price' min=1 max=5 value=(undefined===restaurant  ? '' : restaurant.entree_price) )
      button( class="btn btn-primary" type='submit') Submit
    if errors
      ul
        for error in errors
          li!= error.msg